body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.denied-access {
  text-align: center;
  color: #ccc;
  margin: 100px;
  opacity: 0.7;
  font-size: 75px;
  font-weight: 600;
  text-shadow: 1px 1px #ccc;
}

.container {
  max-width: 60vw;
  text-align: center;
}

.container .logo {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.container .logo img {
  width: 300px;
  padding: 25px;
}

.container .user-form {
  margin: 0 auto;
  text-align: center;
}

.container .button-wrap {
  display: inline-block;
  width: 70%;
  margin: 10px auto;
  text-align: right;
}

.container input, .container textarea {
  display: inline-block;
  width: 70%;
  margin: 0 auto 10px auto;
  padding: 10px;
  border: solid thin black;
  border-radius: 10px;
  font-size: 20px;
}

.container a {
  margin: 0 10px 0 10px;
  color: black;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  transition: linear 2s;
}

.container a:hover {
  text-decoration: none;
}

.page-title {
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.portfolio-dashboard {
  text-align: center;
  margin-top: 100px;
}

.portfolio-dashboard .trade-portfolios {
  width: 60%;
  margin: 0 auto;
}

.portfolio-dashboard .trade-portfolios .no-portfolios {
  font-size: 50px;
  font-weight: 600;
  color: #ccc;
  opacity: 0.7;
  margin: 100px 50px 100px 50px;
  text-shadow: 1px 1px #ccc;
}

.portfolio-dashboard .trade-portfolios .portfolio {
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  border: thin solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.portfolio-dashboard .trade-portfolios .portfolio .name {
  text-align: left;
}

.portfolio-dashboard .trade-portfolios .portfolio .balance {
  text-align: right;
}

.portfolio-dashboard hr {
  width: 70%;
}

.portfolio-dashboard a {
  margin: 0 auto;
  color: black;
  font-size: 25px;
}

.portfolio-dashboard a:hover {
  text-decoration: none;
  color: black;
}

.topbar {
  width: 100vw;
  height: 50px;
  background: #ccc;
  text-align: right;
}

.topbar .selectors {
  display: inline-block;
}

.topbar .selectors .user-icon {
  padding: 0 15px 0 15px;
  float: left;
}

.topbar .selectors .user-icon img {
  width: 50px;
}

.topbar .selectors .tools {
  line-height: 50px;
  padding: 0 15px 0 15px;
  font-size: 20px;
  float: left;
}

.topbar .selectors .tools .tool {
  cursor: pointer;
}

footer {
  background: #ccc;
  width: 100vw;
  padding: 25px;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 15px;
}

footer a {
  color: black;
}

footer a:hover {
  text-decoration: none;
  color: black;
}

#loading-icon {
  position: absolute;
  text-align: center;
  top: calc(50vh - 100px);
  right: calc(50vw - 100px);
}

#loading-icon img {
  width: 200px;
}
