body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

body a {
  color: black;
}

body a:hover {
  text-decoration: none;
}

.denied-access {
  text-align: center;
  color: #bdc3c7;
  margin: 100px;
  opacity: 0.7;
  font-size: 75px;
  font-weight: 600;
  text-shadow: 1px 1px #ccc;
}

.container {
  background: #2ecc71;
  max-width: 60vw;
  height: 100vh;
  text-align: center;
}

.container a {
  color: white;
  font-size: 20px;
  padding: 0 20px 0 10px;
}

.container .logo {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.container .logo img {
  width: 300px;
  padding: 25px;
}

.container .user-form {
  margin: 0 auto;
  text-align: center;
}

.container .user-form h3 {
  color: #ecf0f1;
}

.container .user-form label {
  display: inherit;
  font-size: 15px;
  color: #c0392b;
  margin-bottom: 15px;
}

.container .user-form input.error {
  border: solid medium #c0392b;
}

.container .submit-btn {
  color: white;
  background: #2ecc71;
  border: solid medium white;
}

.container .button-wrap {
  display: inline-block;
  width: 50%;
  margin: 10px auto;
  text-align: right;
}

.container input, .container textarea {
  font-weight: 600;
  display: inline-block;
  width: 50%;
  margin: 0 auto 10px auto;
  padding: 10px;
  border: solid thin white;
  border-radius: 10px;
  font-size: 20px;
}

.page-title {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  color: #2ecc71;
  text-align: center;
}

#newport {
  background: white;
}

#newport h3 {
  color: #2ecc71;
}

#newport input, #newport textarea {
  border: solid thin #2ecc71;
}

#newport a {
  color: #2ecc71;
}

.portfolio-dashboard {
  text-align: center;
  margin-top: 100px;
}

.portfolio-dashboard a {
  color: #2ecc71;
  margin: 0 auto;
  font-size: 25px;
}

.portfolio-dashboard a:hover {
  text-decoration: none;
}

.portfolio-dashboard .trade-portfolios {
  width: 60%;
  margin: 0 auto;
}

.portfolio-dashboard .trade-portfolios .no-portfolios {
  font-size: 50px;
  font-weight: 600;
  color: #ecf0f1;
  opacity: 0.7;
  margin: 100px 50px 100px 50px;
}

.portfolio-dashboard .trade-portfolios .portfolio {
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  border: solid 3px #2ecc71;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  transition: linear 0.1s;
  color: #2ecc71;
}

.portfolio-dashboard .trade-portfolios .portfolio .name {
  text-align: left;
}

.portfolio-dashboard .trade-portfolios .portfolio .balance {
  text-align: right;
}

.portfolio-dashboard .trade-portfolios .portfolio .modify {
  text-align: right;
  font-size: 15px;
}

.portfolio-dashboard .trade-portfolios .portfolio .modify .remove {
  transition: linear 0.2s;
}

.portfolio-dashboard .trade-portfolios .portfolio .modify .remove:hover {
  color: #c0392b;
}

.portfolio-dashboard .trade-portfolios .portfolio:hover {
  color: #27ae60;
  border: solid 3px #27ae60;
}

.portfolio-dashboard hr {
  width: 70%;
}

.main-dashboard-container .sidebar {
  background: #2ecc71;
  color: white;
  height: 100vh;
}

.main-dashboard-container .sidebar .sidebar-section {
  padding: 20px;
  width: 100%;
  text-align: right;
}

.main-dashboard-container .sidebar .sidebar-section .section-header {
  font-size: 28px;
  font-weight: 600;
  border-bottom: thin solid white;
  width: 100%;
  text-align: center;
}

.main-dashboard-container .sidebar .sidebar-section a {
  font-size: 20px;
  padding-top: 15px;
  display: inherit;
  color: white;
}

.main-dashboard-container .sidebar .sidebar-section a:hover {
  text-decoration: none;
}

.main-dashboard-container .maincontent {
  padding: 20px;
}

.main-dashboard-container .maincontent .page-title {
  margin: 40px 0 40px 0;
}

.main-dashboard-container .maincontent .outer-panel {
  padding: 10px;
}

.main-dashboard-container .maincontent .outer-panel .inner-panel {
  border: solid medium #2ecc71;
  padding: 15px;
}

.main-dashboard-container .maincontent .outer-panel .inner-panel .panel-header {
  color: #2ecc71;
  font-size: 30px;
  font-weight: 700;
}

.topbar {
  max-width: 100vw;
  height: 50px;
  background: #2ecc71;
  color: white;
  font-weight: 600;
}

.topbar .selectors {
  float: right;
  display: inline-block;
  line-height: 50px;
  padding: 0 15px 0 15px;
  font-size: 20px;
}

.topbar .selectors .selector {
  float: left;
  cursor: pointer;
  padding: 0 10px 0 10px;
}

#loading-icon {
  position: absolute;
  text-align: center;
  top: calc(50vh - 100px);
  right: calc(50vw - 100px);
}

#loading-icon img {
  width: 200px;
}
