body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 60vw;
  text-align: center;
}

.container .logo {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.container .logo img {
  width: 300px;
  padding: 25px;
}

.container .user-form {
  margin: 0 auto;
  text-align: center;
}

.container .button-wrap {
  display: inline-block;
  width: 70%;
  margin: 10px auto;
  text-align: right;
}

.container input, .container textarea {
  display: inline-block;
  width: 70%;
  margin: 0 auto 10px auto;
  padding: 10px;
  border: solid thin black;
  border-radius: 10px;
  font-size: 20px;
}

.container a {
  margin: 0 10px 0 10px;
  color: black;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  transition: linear 2s;
}

.container a:hover {
  text-decoration: none;
}

.page-title {
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.portfolio-dashboard {
  text-align: center;
}

.portfolio-dashboard .trade-portfolios {
  width: 60%;
  margin: 0 auto;
}

.portfolio-dashboard .trade-portfolios .portfolio {
  display: inline-block;
  font-size: 25px;
  border: thin solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.portfolio-dashboard .trade-portfolios .portfolio .name {
  text-align: left;
}

.portfolio-dashboard .trade-portfolios .portfolio .balance {
  text-align: right;
}

.portfolio-dashboard hr {
  width: 70%;
}

.portfolio-dashboard a {
  margin: 0 auto;
  color: black;
  font-size: 25px;
}

.portfolio-dashboard a:hover {
  text-decoration: none;
  color: black;
}

.new-portfolio {
  text-align: center;
}
