<template name="portfoliosdashboard">
	<div class="wrapper">
		{{> header}}
		<div class="portfolio-dashboard">
			<div class="page-title"> Select a trade portfolio </div>
			<div class="trade-portfolios">
				{{#each portfolios}}
					<div class="portfolio" data-name="{{name}}" data-balance="{{balance}}">
						<div class="name col-md-6">
							{{name}}
						</div>
						<div class="balance col-md-4">
							{{balance}}
						</div>
						<div class="modify col-md-2">
							<div class="edit"> Edit </div>
							<div class="remove"> Remove </div>
						</div>
					</div>
				{{else}}
					<div class="no-portfolios"> You do not have any trade portfolios </div>
				{{/each}}
			</div>
			<hr>
			<a href="{{pathFor route='newportfolio'}}"> Create a new trade portfolio </a>
		</div>
	</div>
</template>

<template name="maindashboard">
	<div class="wrapper">
		<div class="main-dashboard-container">
			{{> header}}
			{{> sidebar}}
			<div class="col-sm-10 maincontent">

				<div class="page-title"> {{portfolio}} </div>
				<div class="col-md-4 outer-panel">
					<div class="inner-panel">
						<div class="panel-header"> <h3>Overview</h3> </div>
					</div>
				</div>
				<div class="col-md-8 outer-panel"> 
					<div class="inner-panel">
						<div class="panel-header"> <h3>Holdings</h3> </div>
					</div>
				</div>
				<div class="col-md-6 outer-panel">
					<div class="inner-panel">
						<div class="panel-header"> <h3>Quick Quotes </h3>
							<input class="search-field" type="text" name="symbol" placeholder="Search for a symbol"/>
						</div>
					</div>
				</div>
				<div class="col-md-6 outer-panel">
					<div class="inner-panel">
						<div class="panel-header"> <h3>News</h3> </div>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>