<template name="loginform">
	<div class="wrapper">
		{{#if currentUser}}
		{{moveToPortfolios}}
		{{else}}
		<div class="container" id="loginform">
			<div class="logo">
				<div id="logo"> Tradebook </div>
				<img src="/logo-first-prototype.png"/>
			</div>
			<form class="user-form login-form">
				<input type="text" name="login_username" placeholder="Username" required/>
				<input type="password" name="login_password" placeholder="Password" required/>
				<div class="button-wrap">
					<a href="{{pathFor route='register'}}"> Join </a>
					<input class="submit-btn" type="submit" name="login_submit" value="Sign in" style="width: 40%;"/>
				</div>
			</form>
		</div>
		{{/if}}
	</div>
</template>

<template name="registerform">
	<div class="wrapper">
		<div class="container" id="registerform">
			<div class="logo">
				<div id="logo"> Tradebook </div>
				<img src="/logo-first-prototype.png"/>
			</div>
			<form class="user-form register-form">
				<input type="text" name="register_username" placeholder="Username" required/>
				<input type="password" name = "register_password" placeholder="Password" required/>
				<input class="submit-btn" type="submit" name="register_submit" value="Register"/>
			</form>
			<a href="{{pathFor route='home'}}"> Back to Login </a>
		</div>
	</div>
</template>

<template name="newportfolio">
	<div class="wrapper">
		{{> header}}
		<div class="new-portfolio container" id="newport">
			<div class="page-title"> Creating a new portfolio </div>
			<form class="user-form new-portfolio-form">
				<h3> Name of Portfolio </h3>
				<input type="text" name="portfolio_name" placeholder="Name of Portfolio" required/>
				<h3> Balance </h3>
				<input type="number" name="portfolio_balance" min="1000" max="500000" step="1000" value="1000" required/>
				<h3> Description (optional) </h3>
				<textarea name="portfolio_description" rows="5"> </textarea>
				<input class="submit-btn" type="submit" name="portfolio_submit" value="Create Portfolio"/>
			</form>
			<a href="{{pathFor route='portfoliosdashboard'}}"> Back to Dashboard </a>
		</div>
	</div>
	
</template>

<template name="trade">
	<div class="wrapper">
		{{> header}}
		{{> sidebar}}
		<div class="col-sm-10 trade-container">
			{{#if previewMode}}
				<form class="preview">
					<div id="tradeType"> Trade Type: {{previewInfo "option"}} </div>
					<div id="tradeName"> Company Name: {{previewInfo "name"}} </div>
					<div id="tradeShares"> Shares: {{previewInfo "shares"}} </div>
					<div id="tradeTotal"> </div>
					<input type="submit" name="trade_submit" value="Submit Trade"/>
				</form>
			{{else}}
				<form class="trade-form">
					<table class="trade-table">
						<thead> 
							<tr>
								<th> Action </th>
								<th> Share Units </th>
								<th> Symbol </th>
								<th> Price Option </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="option">
										<input id="trade-buy" name="trade-option" type="radio" value="buy" />
										<label for="trade-buy"> Buy </label>
									</div>
									<div class="option">
										<input id="trade-sell" name="trade-option" type="radio" value="sell" />
										<label for="trade-sell"> Sell </label>
									</div>
								</td>
								<td>
									<input id="trade-shares" name="trade_shares" type="text" required/>
								</td>
								<td>
									<input id="trade-symbol" name="trade_symbol" type="text" required/>
									<a class="lookup"> Look up symbol </a>
								</td>
								<td>
									<!-- 
									<div class="option">
										<input id="trade-price-market" name="price-option" type="radio" value="market" />
										<label for="trade-price-market"> Market </label>
									</div>
									<div class="option">
										<input id="trade-price-limit" name="price-option" type="radio" value="limit" />
										<label for="trade-price-limit"> Limit </label>
									</div>
									<div class="option">
										<input id="trade-price-stop" name="price-option" type="radio" value="stop"/>
										<label for="trade-price-stop"> Stop </label>
									</div>
									-->
									<h5> Price Options Coming Soon! </h5>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="preview-btn">
						<input type="submit" name="trade_preview" value="Preview Trade"/>
					</div>
				</form>
				{{#if showQuickQuote}}
					<div class="quote-chart">
						<h3> Stock Information </h3>
						<div class="chart-title"> {{quickQuote "name"}} | {{quickQuote "symbol"}} </div>
						<div class="col-sm-6"> 
							<div class="chart-text"> Ask: ${{quickQuote "ask"}} </div>
							<div class="chart-text"> Bid: ${{quickQuote "bid"}} </div>
							<div class="chart-text"> Volume: {{quickQuote "volume"}} </div>
							<div class="chart-text"> Day Change: {{quickQuote "change"}} </div>
						</div>
						<div class="col-sm-6">
							<div class="chart-text"> Day's Low: ${{quickQuote "daysLow"}} </div>
							<div class="chart-text"> Day's High: ${{quickQuote "daysHigh"}} </div>
							<div class="chart-text"> 52-Week Low: ${{quickQuote "52WeekLow"}} </div>
							<div class="chart-text"> 52-Week High: ${{quickQuote "52WeekHigh"}} </div>
						</div>
					</div>
				{{/if}}


			{{/if}}

			
		</div>
	</div>
</template>