<template name="loginform">
	<div class="wrapper">
		{{#if currentUser}}
		{{moveToPortfolios}}
		{{else}}
		<div class="container" id="loginform">
			<div class="logo">
				<div id="logo"> Tradebook </div>
				<img src="/logo-first-prototype.png"/>
			</div>
			<form class="user-form login-form">
				<input type="text" name="login_username" placeholder="Username" required/>
				<input type="password" name="login_password" placeholder="Password" required/>
				<div class="button-wrap">
					<a href="{{pathFor route='register'}}"> Join </a>
					<input class="submit-btn" type="submit" name="login_submit" value="Sign in" style="width: 40%;"/>
				</div>
			</form>
		</div>
		{{/if}}
	</div>
</template>

<template name="registerform">
	<div class="wrapper">
		<div class="container" id="registerform">
			<div class="logo">
				<div id="logo"> Tradebook </div>
				<img src="/logo-first-prototype.png"/>
			</div>
			<form class="user-form register-form">
				<input type="text" name="register_username" placeholder="Username" required/>
				<input type="password" name = "register_password" placeholder="Password" required/>
				<input class="submit-btn" type="submit" name="register_submit" value="Register"/>
			</form>
			<a href="{{pathFor route='home'}}"> Back to Login </a>
		</div>
	</div>
</template>

<template name="newportfolio">
	<div class="wrapper">
		{{> header}}
		<div class="new-portfolio container" id="newport">
			<div class="page-title"> Creating a new portfolio </div>
			<form class="user-form new-portfolio-form">
				<h3> Name of Portfolio </h3>
				<input type="text" name="portfolio_name" placeholder="Name of Portfolio" required/>
				<h3> Balance </h3>
				<input type="number" name="portfolio_balance" min="1000" max="500000" step="1000" value="1000" required/>
				<h3> Description (optional) </h3>
				<textarea name="portfolio_description" rows="5"> </textarea>
				<input class="submit-btn" type="submit" name="portfolio_submit" value="Create Portfolio"/>
			</form>
			<a href="{{pathFor route='portfoliosdashboard'}}"> Back to Dashboard </a>
		</div>
	</div>
	
</template>