<template name="header">
	<div class="topbar">
		
		<div class="selectors">
			<div class="username selector"> {{username}} </div>
			{{#if dashboardable}}
				<a href="{{pathFor route='dashboard'}}" class="to-dashboard selector"> Dashboard </a>
			{{/if}}
			<div class="logout selector"> Logout </div>
		</div>
	</div>
</template>

<template name="loading">
	<div id="loading-icon">
		<img src="/loading.gif"/>
	</div>
</template>

<template name="deniedaccess">
	<div class="denied-access">
		<h1> Oops! </h1>
		<h1> You are not authorized to access this page </h1>
	</div>
</template>

<template name="sidebar">
	
	<div class="col-sm-2 sidebar">
		<a class="logo" href="{{pathFor route='home'}}">
			<img src="/logo-first-prototype.png"/>
			<div id="logo"> Tradebook </div>
		</a>
		<div class="sidebar-section">
			<div class="section-header"> Portfolio </div>
			<a href="{{pathFor route='dashboard'}}"> Main </a>
			<a href="{{pathFor route='trade'}}"> Trade </a>
			<a href="{{pathFor route='holdings'}}"> Holdings </a>
			<a href="{{pathFor route='watchlist'}}"> Watchlist </a>
			<a> Order History </a>

		</div>
		<div class="sidebar-section">
			<div class="section-header"> Research </div>
			<a> Resource 1 </a>
			<a> Resource 2 </a>
			<a> Resource 3 </a>
		</div>
		<div class="sidebar-section">
			<div class="section-header"> About </div>
			<a> Tradebook </a>
			<a> Contact </a>
			<a href="http://github.com/quanhuynh/tradebook" target="_blank"> Source Code </a>
		</div>
	</div>
</template>

