<template name="holdings">
	<div class="wrapper">
		{{> header}}
		{{> sidebar}}
		<div class="col-sm-10 maincontent ten-col">
			<div class="page-title"> Holdings </div>
			<table class="holdings">
				<thead>
					<tr>
						<th> Symbol </th>
						<th> Company </th>
						<th> Quantity </th>
						<th> Average Buy Price </th>
						<th> Current Market Price </th>
						<th> Cost Basis </th>
						<th> Current Market Value </th>
						<th> Day Change </th>
					</tr>
				</thead>
				<tbody>
					{{#each holdings}}
						<tr class="holding">
							<td> {{symbol}} </td>
							<td> {{company}} </td>
							<td> {{quantity}} </td>
							<td> ${{avgBuyPrice}} </td>
							<td> </td>
							<td> ${{costBasis}} </td>
							<td> </td>
							<td> </td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>