<template name="holdings">
	<div class="wrapper">
		{{> header}}
		{{> sidebar}}
		<div class="col-sm-10 maincontent ten-col">
			<div class="page-title"> Holdings </div>
			<table class="holdings">
				<thead>
					<tr>
						<th> Symbol </th>
						<th> Company </th>
						<th> Quantity </th>
						<th> Average Buy Price </th>
						<th> Current Market Price </th>
						<th> Cost Basis </th>
						<th> Current Market Value </th>
						<th> Change </th>
					</tr>
				</thead>
				<tbody>
					{{#each holdings}}
					{{update this.symbol}}
					<tr class="holding">
						<td> {{symbol}} </td>
						<td> {{company}} </td>
						<td class="num"> {{quantity}} </td>
						<td class="num"> ${{avgBuyPrice}} </td>
						<td class="num"> {{holdingInfo "marketPrice" this.symbol}} </td>
						<td class="num"> ${{costBasis}} </td>
						<td class="num"> {{holdingInfo "marketValue" this.symbol}} </td>
						<td class="num"> {{holdingInfo "change" this.symbol}} </td>
					</tr>
					{{/each}}
					<tr>
						<td> Total Change </td>
						<td> Blank </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<template name="watchlist">

	<div class="wrapper">
			{{> header}}
			{{> sidebar}}
			<div class="col-sm-10 maincontent ten-col">
				<div class="page-title"> Watchlist </div>
				<table class="watchlist">
					<thead>
						<tr>
							<th> Symbol </th>
							<th> Company </th>
							<th> Initial Price </th>
							<th> Current Market Price </th>
							<th> Options </th>
						</tr>
					</thead>
					<tbody>
						{{#each watcheds}}
						<tr data-symbol="{{symbol}}">
							<td> {{symbol}} </td>
							<td> {{name}} </td>
							<td class="num"> ${{initial}} </td>
							<td class="num"> {{marketPrice this.symbol}} </td>
							<td>
								<a href="{{pathFor route='trade'}}" id="trade"> Trade </a>
								<a id="remove"> Remove </a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
	</div>
</template>
